body {
  background-color: grey;
  /* spencer-imbrock-487035-unsplash */
  background-image: url('wallpaper.jpg');
  background-size: cover;
  margin: 0;
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: center;
}

.clock {
  width: 30rem;
  height: 30rem;
  border: 15px solid white;
  border-radius: 50%;
  margin: 50px auto;
  position: relative;
  padding: 2rem;
  /* box-shadow:
    0 0 0 4px rgba(0,0,0,0.1),
    inset 0 0 0 3px #EFEFEF,
    inset 0 0 10px black,
    0 0 10px rgba(0,0,0,0.2); */
}

.clock-face {
  position: relative;
  width: 100%;
  height: 100%;
  transform: translateY(-3px); /* Accounts for hands */
}

.hand {
  width: 50%;
  height: 5px;
  background: black;
  position: absolute;
  top: 50%;
  transform-origin: 100%;
  transform: translateX(3px) rotate(90deg);
}

.hand-minute {
  background: #484848;
}
.hand-second {
  height: 2px;
  background: red;
}
